
<div class="container">
  <div class="page-header">
    <h1>{{formation.name}} <small>Animateur: {{formation.leader}}</small></h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      Difficulté de la formation: {{formation.level}}/5 <br>
      <p>{{formation.summary}}</p>
      <button class="btn btn-primary" type="button"  data-toggle="modal" data-target="#participantsModal">
        Participants <span class="badge">{{formation.participants.length}}</span>
      </button>
    </div>
    <hr>
    <div class="container">
      <div ng-if="formation.keywords.length > 0">
        <b>Mot clés</b>
      </div>
      <span class="label label-primary" ng-repeat="keyword in formation.keywords"><a ng-href="#/formation/keywords/{{keyword}}">#{{keyword}}</a></span>
      <div class="row">
        <div class="col-md-2 pull-right text-right">
          {{user.id + ' ' + formation.leader + ' ' + typeFormation}}
          <button ng-if="user.id === formation.leader" class="btn btn-success ">Modifier</button>
          <button ng-if="user.id !== formation.leader && notAlreadyRegisterToThisFormation()" class="btn btn-success ">S'inscrire</button>
          <button ng-if="user.id !== formation.leader && !notAlreadyRegisterToThisFormation()" class="btn btn-danger ">Se désinscrire</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="participantsModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" arial-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Participants</h4>
        </div>
        <div class="modal-body" style="max-height: 400px; overflow-y:auto;">
          <div ng-repeat="participant in formation.participants track by $index">
            <h6>{{participant}}</h6>
            <hr >
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-default" ng-click="back('/')">
        <i class="glyphicon glyphicon-chevron-left"></i>Retour
      </button>
    </div>
  </div>
</div>
