<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <table class="table table-hover">
      <caption>Formations correspondantes</caption>
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Nom de la formation
          </th>
          <th>
            Animateur
          </th>
          <th>
            Niveau
          </th>
          <th>
            Direction
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="formation in formations" ng-click="showDetails(formation)">
          <td>
            {{formation.id}}
          </td>
          <td>
            {{formation.name}}
          </td>
          <td>
            {{formation.leader}}
          </td>
          <td>
            <i class="glyphicon glyphicon-star" ng-repeat="i in range(0,formation.level)"></i>
            <i class="glyphicon glyphicon-star-empty" ng-repeat="i in range(formation.level,4)"></i>
          </td>
          <td>
            {{formation.direction}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
